/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
  background: #cf1733;
  color: #333;
}

header {
  text-align: center;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 400px;
  margin: 0 auto 2rem auto;
}

input, button {
  padding: 0.75rem;
  font-size: 1rem;
}

button {
  background: #0aa5d0;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;

}

button:hover,
button:focus {
  background: #07c05d;
  outline:lch(from color l c h);
}

#results {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


@media (min-width: 600px) {
  form {
    flex-direction: row;
    align-items: center;
  }

  label {
    margin-right: 0.5rem;
  }

  input {
    flex: 1;
    margin-right: 0.5rem;
  }
}